@font-face {
    font-family: genshin;
    src: url(genshin.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/plain-bg.png');
    background-size: cover;
    scroll-behavior: smooth;
}

.navbar {
    backdrop-filter: blur(3px);
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    position: relative;
    font-family: genshin;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-right: 10px;
}

.nav-logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin: 10px 0px 0px 20px;
}

.nav-links {
    padding: 0;
    display: flex;
    gap: 10px;
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    font-size: 20px;
    font-family: genshin;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: opacity 0.6s ease;
    transition: transform 0.6s ease;
    white-space: nowrap;
}

.nav-links a:hover {
    opacity: 1;
    transform: scale(1.1);
}

.nav-links:hover > :not(:hover) {
    opacity: 0.4;
}

.nav-logo img {
    height: auto;
    width: 8rem;
}

.nav-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

main {
    padding: 20px;
    width: 60%;
    scroll-snap-type: y mandatory; /* Enable vertical snapping */
    overflow-y: auto; /* Enable scrolling within main */
}

.scroll-section {
    height: 100vh; /* Take up full viewport height */
    scroll-snap-align: start; /* Snap to the start of each section */
    padding: 20px; /* Adjust as needed for spacing */
}

main section .header1 {
    text-align: center;
    font-family: genshin;
    font-size: 30px;
    color: #869360;
}

main section .header2 {
    text-align: center;
    font-family: genshin;
    font-size: 25px;
    color: #869360;
    padding-top: 10px;
}

main section p, li {
    font-size: 18px;
    color: #574A25;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

.button-container button {
    padding: 15px 30px;
    font-family: genshin;
    font-size: 30px;
    color: #ffffff;
    margin: 10px;
    cursor: pointer;
    background: transparent;
    border: none;
    border-radius: 30px;
 
    box-shadow: inset 5px 5px 7px #dff59e,
                inset -5px -5px 7px #869360;
}

.button-container button:hover {
    box-shadow: inset 5px 5px 7px #869360,
                inset -5px -5px 7px #dff59e;
}

.bottom-design {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.bottom-design img {
    width: 100%;
    display: block;
}

footer {
    position: fixed;
    width: 100%;
    background-color: transparent;
    color: #574A25;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    z-index: 1000;
}
