@font-face {
    font-family: genshin;
    src: url(genshin.ttf);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/plain-bg.png');
    background-size: cover;
}

.header {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    position: relative;
}

.back-button {
    background-color: transparent;
    background-image: url("img/plank.png");
    background-size: cover;
    font-family: genshin;
    font-size: 20px;
    color: white;
    border: none;
    padding: 15px 75px;
    cursor: pointer;
    text-decoration: none;
    margin: 15px 30px;
    transition: transform 0.5s ease;
    z-index: 1;
}

.back-button:hover {
    transform: scale(1.05);
}

.logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header-logo {
    margin-top: 15px;
    height: 50px;
    width: auto;
}

.title {
    margin-top: 30px;
    margin-bottom: -30px;
    text-align: center;
}

.title img {
    height: 5rem;
    width: auto;
}

.carousel {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.carousel-item {
    position: relative;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    max-width: 400px;
    height: auto;
    transition: transform 0.3s ease-in-out; /* Smooth transition for pulsating */
}

.solve-button {
    position: absolute;
    transform: translate(-50%, -50%);
    display: none;
    font-family: genshin;
    font-size: 18px;
    background-color: transparent;
    background-image: url("img/plank-2.png");
    background-size: cover;
    color: white;
    border: none;
    padding: 18px 50px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

@keyframes pulsate {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

.carousel-item:hover img {
    animation: pulsate 2s infinite;
}

.carousel-item:hover .solve-button {
    display: block;
    transform: scale(1.05);
}

.solve-button:hover {
    transform: scale(1.1);
}

/* Custom styles for Slick carousel arrows */
.slick-prev:before, 
.slick-next:before {
    font-size: 50px !important;
    color: #ca8138 !important;
    opacity: 0.75 !important;
    background: none !important;
    text-shadow: none !important;
}

.slick-prev:before {
    content: '←';
}

.slick-next:before {
    content: '→';
}

.slick-prev:hover:before, 
.slick-next:hover:before {
    opacity: 1 !important;
    color: #EBDFA5!important;
    font-size: 55px !important;
    transition: font-size 0.5s ease;
}

.bottom-design {
    display: none;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    .carousel-item img {
        max-width: 400px;
    }
}

@media (max-width: 950px) {
    .back-button {
        padding: 10px 50px;
        font-size: 16px;
    }

    .logo-container {
        position: absolute;
        left: 87%;
    }
    
    .header-logo {
        margin-top: 15px;
        height: 40px;
        width: auto;
    }

    .title img {
        height: 4rem;
    }

    .carousel {
        width: 80%;
        max-width: 800px;
    }
    
    .carousel-item img {
        max-width: 300px;
    }

    .solve-button {
        padding: 15px 40px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 510px) {
    .back-button {
        padding: 8px 40px;
        font-size: 14px;
    }

    .logo-container {
        position: absolute;
        left: 80%;
    }
    
    .header-logo {
        margin-top: 15px;
        height: 30px;
        width: auto;
    }

    .title img {
        height: 3rem;
        margin-bottom: 20px;
    }

    .carousel {
        width: 70%;
        max-width: 500px;
    }
    
    .carousel-item img {
        max-width: 300px;
    }

    .solve-button {
        padding: 15px 40px;
        font-size: 15px;
    }

    .bottom-design {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }
    
    .bottom-design img {
        width: 100%;
        display: block;
    }
}